<% @table_title = @actable_type %>
<% @table_columns = { id: 'ID',
                      title: 'Title', 
                      first_name: 'First Name', 
                      last_name: 'Last Name', 
                      suffix: 'Suffix', 
                      ring_size: 'Ring Size', 
                      necklace_length: 'Necklace Length', 
                      birthday: 'Birthday' } %>

<!-- 
<p id="notice" class="alert alert-default-primary <%= "d-none" unless notice %>">
<%= notice %>
</p>
-->

<%= render partial: 'layouts/components/page_header', locals: { 
  title: "Customers", 
  pre_title: "Pre-title", 
  action_button_text: "New Customer", 
  action_button_link: new_party_path,
  action_button_option: nil 
  } %>

<div class="card">
  <div class="card-header">

    <!-- Search -->
    <form>
      <div class="input-group input-group-flush">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fe fe-search"></i>
          </span>
        </div>
        <input class="form-control list-search" type="search" placeholder="Search">
      </div>
    </form>

    <!-- Dropdown -->
    <div class="dropdown">
      <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Bulk action
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
        <a class="dropdown-item" href="#">Hide</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>

  </div>


  <div class="table-responsive" data-list='{"valueNames": ["name"], "page": 3, "pagination": {"paginationClass": "list-pagination"}}'>
    <table id="customers" class="table table-sm table-nowrap card-table">
      <caption>List of customers</caption>
      <thead>
        <tr>
          <!-- Table Columns -->
          <th>
            <%= render partial: 'layouts/components/checkbox_table', locals: { id: 'all', collection: 'parties' } %>
          </th>
          <% @table_columns.each do |table_column| %>
            <th class="" scope="col">
              <a href="#" class="text-muted list-sort" data-sort="customers-<%= table_column[0] %>">
                <%= table_column[1] %>
              </a>
            </th>
          <% end %>
          <th class="" scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody class="list">
        <% @parties.each do |party| %>
        <tr>
          <td>
            <%= render partial: 'layouts/components/checkbox_table', locals: { id: party.specific.id, collection: 'parties' } %>
          </td>
          <% @table_columns.keys.each do |table_column| %>
            <% if table_column == 'id' %>
              <th>
                <%= party.specific.send(table_column) %>
              </th>
            <% else %>
              <td><%= party.specific.send(table_column) %></td>
            <% end %>
          <% end %>
          <td><%= link_to 'Show', party %></td>
          <td><%= link_to 'Edit', edit_party_path(party) %></td>
          <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>