<%= simple_form_for @person, 
      wrapper_mappings: {
        boolean:       :custom_boolean,
        check_boxes:   :custom_collection,
        date:          :custom_multi_select,
        datetime:      :custom_multi_select,
        file:          :custom_file,
        radio_buttons: :custom_collection,
        range:         :custom_range,
        time:          :custom_multi_select,
        select:        :custom_multi_select } do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-row">
    <%= f.input :title, wrapper_html: { class: "col col-md-2" } %>
    <%= f.input :first_name, wrapper_html: { class: "col" } %>
    <%= f.input :last_name, wrapper_html: { class: "col" } %>
    <%= f.input :suffix, wrapper_html: { class: "col col-md-2" } %>
  </div>

  <!-- Households -->
  <%= f.association :household, input_html: { class: "custom-select with-select2", id: "new-person-household-association" },
                                prompt: "Select a household" %>

  <div class="form-row">
    <%= f.input :ring_size, wrapper_html: { class: "col col-md-3"} %>
    <%= f.input :ring_size_notes, wrapper_html: { class: "col col-md-9"} %>
  </div>

  <div class="form-row">
    <%= f.input :necklace_length, wrapper_html: { class: "col col-md-3 form-control-auto"} %>
    <%= f.input :necklace_length_notes, wrapper_html: { class: "col col-md-9"} %>
  </div>

  <%= f.input :birthday, as: :date, 
                         start_year: Date.today.year - 100,
                         end_year: Date.today.year - 12,
                         input_html: { class: "custom-select" }%>

  <h2 class="mt-6">Contact Info</h2>

  <%= f.simple_fields_for :address do |f| %>
    <%= f.input :address_line_1 %>
    <%= f.input :address_line_2 %>
    <div class="form-row">
      <%= f.input :city, wrapper_html: { class: "col col-md-6"} %>
      <%= f.input :state, wrapper_html: { class: "col col-md-4"} %>
      <%= f.input :zip_postal_code, label: "Zip", wrapper_html: { class: "col-md-2"} %>
    </div>
  <% end %>

  <%= f.simple_fields_for :email_addresses do |builder| %>
    <%= render "people/email_address_fields", f: builder %>
  <% end %>

  <div class="form-row">
    <div class="col mb-4">
      <%# link_to_add_fields "Add email address", f, :email_addresses %>
    </div>
  </div>

  <%= f.simple_fields_for :phone_number do |f| %>
    <%= f.label :phone_number %>
    <div id="phoneNumberInputGroup" class="input-group mb-4 show">
      <%= f.input_field :phone_number, class: "form-control", id: ""  %>
      <div class="input-group-append">
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", "#phoneNumberInputGroup", class: "btn btn-danger remove-field", data: { toggle: "collapse" }, role: "button" %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn-primary" %>
    <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
  </div>

<% end %>
