<%= simple_form_for item, wrapper_mappings: wrapper_mappings do |f| %>
  <%= f.error_notification %>

  <%= render ProductFields::BasicComponent.new(f: f) %>

  <section id="item-category-section">
    <%= render ProductFields::GemstoneComponent.new(f: f) %>
  </section>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
<% end %>
