<div id="intake-form-wrapper" class="mt-5">

  <% if item.category %>

    <%= simple_form_for item, wrapper_mappings: wrapper_mappings do |f| %>
      <%= f.error_notification %>

      <%= f.hidden_field :category %>

      <section id="intake-form-basic-fields">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.association :style, label_method: :name, prompt: 'Please select a style' %>

        <div class="form-row">
          <%= f.input :cost, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :price, wrapper_html: { class: 'col-md-6' } %>
        </div>

        <%= f.input :notes %>
      </section>

      <hr />

      <section id="intake-form-special-fields">
        <%= f.simple_fields_for :profile, f.object.build_profile do |builder| %>
          <p>Hello from IntakeFormComponent!</p>
          <%= render item_fields_component.new(f: builder) %>
        <% end %>
      </section>

      <hr />

      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
    <% end %>

  <% end %>

</div>
