<div id="intake-form-wrapper" class="mt-5">

  <% if item.category %>

    <%= simple_form_for item, authenticity_token: false do |f| %>
      <%= f.error_notification %>

      <%= f.hidden_field :category %>

      <section id="intake-form-basic-fields">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.association :style, label_method: :name,
                                  prompt: 'Please select a style' %>

        <div class="row">
          <div class="col-md">
            <%= f.input :cost %>
          </div>
          <div class="col-md">
            <%= f.input :price %>
          </div>
        </div>

        <%= f.input :notes %>
      </section>

      <hr />

      <section id="intake-form-profile-fields">
        <%= f.simple_fields_for :profile, f.object.profile do |profile_form| %>
          <%= render item_fields_component.new(f: profile_form) %>
        <% end %>
      </section>

      <hr />

      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
      <%= hidden_field_tag :authenticity_token, @auth_token %>
    <% end %>

  <% end %>

</div>
