<%= simple_form_for helpers.setup_product(product), wrapper_mappings: wrapper_mappings do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <section id="basic-info-section">
    <h2>Basic info</h2>
    <%= f.input :name%>
    <%= f.input :description %>
    <%= f.association :style, label_method: :name,
                              prompt: 'Select a style',
                              input_html: { class: "",
                                               id: "new-product-style-association" } %>
    <%= f.input :cost_cents %>
    <%= f.input :price_cents %>
    <%= f.input :notes %>
    <%= f.input :category, as: :select,
                           prompt: 'Please select a product category',
                           collection: [['Jewelry', 'JEWELRY'],
                                        ['Gemstone', 'GEMSTONE'],
                                        ['Miscellaneous', 'MISCELLANEOUS']] %>
  </section>

  <section id="product-category-section">
    <%= f.simple_fields_for :jewelry_product do |f| %>
      <%= render(IntakeForm::JewelryFieldsComponent.new(f: f)) %>
    <% end %>

    <%= f.simple_fields_for :gemstone_product do |f| %>
      <%= render(IntakeForm::GemstoneFieldsComponent.new(f: f)) %>
    <% end %>

    <%= f.simple_fields_for :miscellaneous_product do |f| %>
      <%= render(IntakeForm::MiscellaneousFieldsComponent.new(f: f)) %>
    <% end %>
  </section>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>

<% end %>
