<%= simple_form_for resource, wrapper_mappings: wrapper_mappings do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name%>

  <%= f.input :description %>

  <%= f.association :style, label_method: :name,
                            input_html: { class: "",
                                             id: "new-product-style-association" },
                            prompt: 'Select a style' %>

  <%= f.input :cost_cents %>

  <%= f.input :price_cents %>

  <%= f.input :notes %>

  <%= f.input :category, as: :radio_buttons,
                         collection: [['Jewelry', 'JEWELRY'],
                                      ['Gemstone', 'GEMSTONE'],
                                      ['Miscellaneous', 'MISCELLANEOUS']] %>

  <p id="currentCategory" class=""></p>

  <%= f.simple_fields_for :jewelry_product do |f| %>
    <fieldset id='jewelry_product_fields' class="d-none">
      <legend>Jewelry</legend>
      <%= f.association :metals %>
      <%= f.association :metal_purities %>
      <%= f.association :metal_colors %>

      <button class="btn" id="addMountedGemstoneBtn">Add mounted gemstone</button>
      <%= f.association :gemstones %>

    </fieldset>
  <% end %>

  <%= f.simple_fields_for :gemstone_product do |f| %>
    <fieldset id='gemstone_product_fields' class="d-none">
      <legend>Gemstone</legend>
      <%# f.input :carat %>
      <%# f.association :carat %>
      <%# f.input :is_diamond %>
      <%# f.association :diamond_cut %>
      <%# f.association :diamond_color %>
      <%# f.association :diamond_clarity %>
    </fieldset>
  <% end %>

  <%= f.simple_fields_for :miscellaneous_product do |f| %>
    <fieldset id='miscellaneous_product_fields' class="d-none">
      <legend>Miscellaneous</legend>
    </fieldset>
  <% end %>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
<% end %>
