<div id="intake-form-wrapper">

  <% if item.category %>

    <%= simple_form_for item, wrapper_mappings: wrapper_mappings do |f| %>
      <%= f.error_notification %>

      <%= f.hidden_field :category %>

      <section id="intake-form-basic-fields">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.association :style, label_method: :name, prompt: 'Please select a style' %>
        <%= f.input :cost %>
        <%= f.input :price %>
        <%= f.input :notes %>
      </section>

      <section id="intake-form-special-fields">
        <%= f.simple_fields_for :profile do |f| %>
          <%= render item_fields_component.new(f: f) %>
        <% end %>
      </section>

      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
    <% end %>

  <% end %>

</div>
