<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.household.household_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Ring size:</strong>
  <%= @customer.ring_size %>
</p>

<p>
  <strong>Ring size notes:</strong>
  <%= @customer.ring_size_notes %>
</p>

<p>
  <strong>Necklace length:</strong>
  <%= @customer.necklace_length %>
</p>

<p>
  <strong>Necklace length notes:</strong>
  <%= @customer.necklace_length_notes %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
