- title = "#{@store_transaction.category.name_capitalized}: #{@store_transaction.party.name} on #{@store_transaction.created_at}"
- pre_title = "Transactions"
- provide(:title, title)
- provide(:body_class, '')

= render(PageHeaderComponent.new(title: title,
  pre_title: pre_title,
  buttons: [{ text: 'Print receipt',
    link: "#",
    options: nil }],
  wrapper_class: "header mt-md-5",
  tabs: nil))

= render(TableIndexComponent.new(title: title,
  columns: [{ value: :id },
    { value: :product_id },
    { value: :product_name },
    { value: :quantity },
    { value: :party_name, label: "Customer" },
    { value: :price }],
  resources: @line_items,
  restful_actions: [:delete]))
