- title = "#{@store_transaction.category.name_capitalized}: #{@store_transaction.party.name} on #{@store_transaction.created_at}"
- provide(:title, title)
- provide(:body_class, '')

= render(PageHeaderComponent.new(title: title,
  pre_title: "Transactions",
  action_button_text: 'Print receipt',
  action_button_link: "#",
  action_button_options: nil,
  wrapper_class: "header mt-md-5",
  tabs: nil))

= render(TableIndexComponent.new(title: title,
  columns: { id: "ID",
    [:product, :id]                       => "Product ID",
    [:product, :name, :capitalize]        => "Product",
    quantity:                                "Quantity",
    [:store_transaction, :party, :name]   => "Customer",
    [:product, :price]                    => "Price" },
  resources: @line_items,
  restful_actions: [:delete]))
