- provide(:title, t('.title'))

.row.justify-content-center
  .col-12.col-md-5.col-xl-4.my-5
    / Heading
    %h1.display-4.text-center.mb-3= t('.title')
    / Subheading
    %p.text-muted.text-center.mb-5= t('.subtitle')

    = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .form-group.form-inputs
        = f.input :email,
          type: :email,
          autofocus: true,
          required: true,
          input_html: { autocomplete: "email" }
        = f.input :password,
          type: :password,
          required: true,
          input_html: { autocomplete: "current-password" }
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      .form-actions
        = f.submit 'Sign in', class: 'btn btn-lg w-100 btn-primary mb-3'

    = render "devise/shared/links"
