<% provide :title, t('.title', item_id: @item.id,
                               item_name: @item.name) %>
<% provide :body_class, '' %>

<%= render PageHeaderComponent.new(
     title:     t('.title', item_id: @item.id,
                            item_name: @item.name),
     pre_title: t('.subtitle', item_category: @item.category),
     buttons:   [{ text: t('.link_to_edit'),
                   link: edit_item_path(@item.id)}]) %>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'https://place-hold.it/400x300', alt: "Photo of #{@item.name}",
                                                   height: '300',
                                                   class: 'card-img-top' %>
  </div>

  <div class="col">
    <%= render CardComponent.new do |component| %>
      <% component.with(:body) do %>

        <%= render CardStatsComponent.new(
                     stats: [{ label: 'Cost',
                               value: @item.cost },
                             { label: 'Price',
                               value: @item.price }]) %>

        <%= render CardDataContainerComponent.new(
                     attrs: {id:          @item.id,
                             name:        @item.name,
                             description: @item.description,
                             style_name:  @item.style_name,
                             created_at:  @item.created_at }) %>

      <% end %>
    <% end %>

    <%= render "items/#{@item.category_underscore}",
               item: @item %> 
  </div>
</div>
