<!-- table columns passed in as local variable table_columns -->

<!-- LOCAL VARIABLES: -->
<!-- @table_title -->
<!-- @table_columns -->
<!-- @table_objects -->

<% list_values = table_columns.keys.map {|t_c| t_c.to_s.camelize(:lower) } # returns array with values for List.js columns %>
<% list_values_list = list_values.map {|value| "\"#{value}\"" }.join(", ") %>

<div class="card">
  <div class="card-header">

    <!-- Search -->
    <form>
      <div class="input-group input-group-flush">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fe fe-search"></i>
          </span>
        </div>
        <input class="form-control list-search" type="search" placeholder="Search">
      </div>
    </form>

    <!-- Dropdown -->
    <div class="dropdown">
      <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Bulk action
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
        <a class="dropdown-item" href="#">Hide</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>

  </div>


  <div class="table-responsive" data-list='{"valueNames": [<%= list_values_list  %>]}'>
    <table id="<%= @table_title %>" class="table table-sm table-nowrap card-table table-hover">
      <caption><%= @table_title %></caption>
      <thead>
        <tr>
          <!-- Table Columns -->
          <th>
            <%= render partial: 'layouts/components/checkbox_table', locals: { id: 'all', collection: @table_title } %>
          </th>
          <% table_columns.each_with_index do |table_column, index| %>
            <th scope="col">
              <a href="#" class="text-muted list-sort" data-sort="<%= list_values[index] %>">
                <%= table_column[1] %>
              </a>
            </th>
          <% end %>
          <th class="" scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody class="list">
        <% table_objects.each do |table_object| %>
        <tr>
        
          <td>
            <%= render partial: 'layouts/components/checkbox_table', locals: { id: table_object.id, collection: table_object } %>
          </td>

          <% @table_columns.each_with_index do |table_column, index| %>
            <% if table_column == 'id' %>
              <th scope="row" class="<%= list_values[index] %>">
                <%= table_object.send(table_column[0]) %>
              </th>
            <% else %>
              <td class="<%= list_values[index] %>">
                <%= table_object.send(table_column[0]) %>
              </td>
            <% end %>
          <% end %>

          <td><%= link_to 'Show', table_object %></td>
          <% # link_to 'Edit', edit_party_path(party) %>
          <% # link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>