<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Description" %>
    <%= form.text_area :narrative_description %>
  </div>

  <div class="field">
    <%= form.label :metal %>
    <%= form.text_field :metal %>
  </div>

  <div class="field">
    <%= form.label :purity %>
    <%= form.text_field :purity %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :miscellaneous_measurements %>
    <%= form.text_area :miscellaneous_measurements %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :clarity %>
    <%= form.text_field :clarity %>
  </div>

  <div class="field">
    <%= form.label :report_number %>
    <%= form.number_field :report_number %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :retail_price %>
    <%= form.text_field :retail_price %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :date_sold %>
    <%= form.date_select :date_sold %>
  </div>

  <!--
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>
  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
