  <section id="basic-info-section">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :style, label_method: :name, prompt: 'Please select a style' %>
    <%= f.input :cost_cents %>
    <%= f.input :price_cents %>
    <%= f.input :notes %>
  </section>
