<fieldset id="metal_fields" class="nested-form-wrapper form-group"
                            data-new-record="<%= new_record? %>">
  <legend>Metal</legend>
  <%= f.association :category %>
  <%= f.association :color %>
  <%= f.association :purity %>

  <button type="button" class="btn btn-danger"
                        data-action="nested-form#remove">
    Remove metal
  </button>

  <%= f.hidden_field :_destroy %>
</fieldset>
