<%= content_tag :fieldset, id: "metal_fields",
                           class: "nested-fields",
                           data: { new_record: new_record? } do %>
  <legend>Metal</legend>

  <%= f.association :category, collection: MetalCategory.all,
                               prompt: "Choose a metal" %>
  <%= f.association :color %>
  <%= f.association :purity %>

  <button type="button" class="btn btn-sm btn-danger"
                        data-action="nested-form#remove">
    Remove metal
  </button>

  <%= f.hidden_field :_destroy %>
<% end %>
