<%= content_tag :fieldset, id: "metal_fields",
                           class: "nested-fields mb-3",
                           data: { new_record: new_record? } do %>
  <legend><small>Metal</small></legend>

  <div class="row">
    <%= f.association :category, label_method: :name,
                                 prompt: "Choose a metal",
                                 label: false,
                                 wrapper_html: { class: 'col-md' } %>

    <%= f.association :color,    label_method: :name,
                                 prompt: "Color",
                                 label: false,
                                 wrapper_html: { class: 'col-md' } %>

    <%= f.association :purity,   label_method: :value,
                                 prompt: "Purity",
                                 label: false,
                                 wrapper_html: { class: 'col-md' } %>

    <div class="col-auto">
      <%= render Buttons::RemoveNestedFieldComponent.new %>
    </div>
  </div>

  <%= f.hidden_field :_destroy %>
<% end %>
