<%= f.association :subcategory, input_html: { data: { reflex: 'input->SKU#update' } } %>

<div id="intake_form_metals" class="form-group" data-controller="nested-form">

  <template data-target="nested-form.template">
    <%= f.simple_fields_for :metals, build_metal, child_index: 'NEW_RECORD' do |builder| %>
      <%= render ProductFields::MetalComponent.new(f: builder) %>
    <% end %>
  </template>

  <% if metals.present? %>
    <%= f.simple_fields_for :metals do |builder| %>
      <%# render ProductFields::MetalComponent.new(f: builder) %>
    <% end %>
  <% end %>

  <div data-target="nested-form.links">
    <%= link_to 'Add metal', '#', class: 'btn btn-sm btn-outline-secondary btn-small',
                                  data: { action: 'nested-form#add' } %>
  </div>
</div>

<div id="intake_form_gemstones" class="form-group" data-controller="nested-form">
  <template data-target="nested-form.template">
    <%= f.fields_for :gemstones, build_gemstone, child_index: 'NEW_RECORD' do |builder| %>
      <%= render ProductFields::GemstoneComponent.new(f: builder) %>
    <% end %>
  </template>

  <% if gemstones.present? %>
    <%= f.simple_fields_for :gemstones do |builder| %>
      <%# render ProductFields::GemstoneComponent.new(f: builder) %>
    <% end %>
  <% end %>

  <div data-target="nested-form.links">
    <%= link_to 'Add gemstone', '#', class: 'btn btn-sm btn-outline-secondary btn-small',
                                     data: { action: 'nested-form#add' } %>
  </div>
</div>
