<%= simple_form_for @sale, 
  wrapper_mappings: { boolean:       :custom_boolean,
                      check_boxes:   :custom_collection,
                      date:          :custom_multi_select,
                      datetime:      :custom_multi_select,
                      file:          :custom_file,
                      radio_buttons: :custom_collection,
                      range:         :custom_range,
                      time:          :custom_multi_select,
                      select:        :custom_multi_select } do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :party, collection: Party.all.order("actable_type DESC"),
                            label: "Customer",
                            label_method: :name,
                            input_html: { class: "" } %>

  <% 10.times do %>
  <%# FIXME: add line item fields on the fly %>
    <div class="row">

      <%= f.simple_fields_for @line_item do |f| %>
        <%= f.association :item, wrapper_html: { class: "col col-md-8" } %>
        <%= f.input :quantity, wrapper_html: { class: "col" }  %>

        <%= f.input :tax_cents, label: "Tax", wrapper_html: { class: "col" } %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="btn btn-primary mb-4">
        <span class="fe fe-plus"></span>
          Add another line item
      </div>
    </div>
  </div>

  <%= f.button :submit, "Log transaction", class: "btn-primary" %>
  <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
<% end %>
