<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <title><%= page_title(local_title: yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= render 'layouts/components/shim' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= class_names yield(:body_class) %>" data-controller="radiolabel">
    <%= render SidebarComponent.new if user_signed_in? %>

    <!-- MAIN CONTENT ================================================== -->
    <%= tag.main class: (content_for?(:main_class) ?
                          content_for(:main_class) :
                          'main-content pb-6 min-vh-100') do %>
      <%= tag.div class: (content_for?(:container_class) ?
                            content_for(:container_class) :
                            'container-fluid') do %>

        <%= render FlashComponent.new(flash: flash) %>

        <%= yield %>

      <% end %>
    <% end %>

    <!-- Rails debug (development only) -->
    <%= render DebugComponent.new(params: params) %>
  </body>
</html>
