<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <title><%=
      "#{Rails.app_class.to_s.deconstantize.underscore.humanize.titleize} - #{yield(:title)}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= render 'layouts/components/shim' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= yield :body_class %>">
    <%= render SidebarComponent.new if user_signed_in? %>

    <!-- MAIN CONTENT ================================================== -->
    <main role="main" class="main-content pb-6">
      <div class="container-fluid">

        <%= render FlashComponent.new(flash: flash) %>

        <%= yield %>

      </div>
    </main>

    <!-- Rails debug (development only) -->
    <%= render DebugComponent.new(params: params) %>
  </body>
</html>
