<!DOCTYPE html>
<html class="h-100">

<head>
  <title>Timeless Jeweler</title>
  <%= render 'layouts/rails_default_head' %>
  <%= render 'layouts/shim' %>
</head>

<body class="d-flex flex-column h-100">
  <%= render 'layouts/navigation' %>
  <div class="container-fluid">
    <div class="row">
      <% if not current_page?(root_path) or current_page?(login_path) %>
        <%= render 'layouts/sidebar'%>
      <% end %>
        <main role="main" class="col">

          <%= yield %>
          
        </main>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <div class="container-fluid">
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>

</html>