<!DOCTYPE html>
<html>
  <head>
    <title>Timeless Jeweler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main" class="container">

      <%= render 'layouts/navigation' %>

      <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Timeless Jeweler</h1>
        </div>
      </div>

      <div class="container">

        <%= yield %>

      </div>
    </main>
  </body>
</html>
