<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/components/shim' %>
</head>

<body class="<%= yield :body_class %>">
  <% # render SidebarComponent.new %>
  <%= render 'layouts/components/sidebar' %>
  <!-- MAIN CONTENT
    ================================================== -->
  <main role="main" class="main-content pb-6">
    <div class="container-fluid">

      <!-- Flash -->
      <% flash.each do |message_type, message| %>
        <i class="fe fe-circle">
        <p id="flash" role="alert" class="alert alert-<%= message_type %>"><%= message %></p>
      <% end %>

      <%= yield %>

    </div>
  </main>
  <div class="row">
      <%= render 'layouts/components/footer' %>
  </div>
<!-- Rails debug (development only) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body text-white">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </div>
</div>

 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>