<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <title><%= yield :title %></title>
  <!-- Rails Default Header -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- /Rails Default Header -->

  <%= render 'layouts/components/shim' %>

</head>

<body class="<%= yield :body_class %>">

  <!-- MAIN CONTENT
    ================================================== -->
  <main role="main" class="container">

    <% flash.each do |message_type, message| %>
    <div role="alert" class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/components/footer' %>

    <!-- Rails debug (development only) -->
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body text-white">
              <%= debug(params) if Rails.env.development? %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

</body>

</html>